/* styles page */



* {
    padding: 0;
    margin: 0;
    text-align: center
}


a {
    list-style: none;
    text-decoration: none;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    border: 1px solid #ccc;
}



.header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex: 1;
    margin: 20px;

}


.logo {
    margin: 5px;
}



.link-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.content-one {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex: 1;
}


.backround-one {
    background-color: rgb(96, 144, 216);
}


.content-two {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box-layout {
    display: flex;
    justify-content: center;
    gap: 50px;
}


.content-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: rgb(167, 118, 118);
    flex: 1;
}

.quote {
    display: flex;
    justify-content: center;
    justify-content: flex start;
}

.footer {
    flex: 1;
    display: flex;
    justify-content: center;
}