/* styles page */



* {
    padding: 0;
    margin: 0;
    text-align: center;
}


a {
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 20px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.content-one {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 20px;
}


.backround-one {
    background-color: rgb(96, 144, 216);
}


.content-two {
    display: flex;
    flex-direction: column;
}

.box-layout {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 50px;
}


.content-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    display: flex;
    justify-content: center;
    justify-content: flex start;
}

